:root {
  --light: #e7e7e7;
  --white:#fff;
  --black: #181717;
  --dark: #2c2c2c;
  --green: #4CAF50;
  --blue:#000ed4;
  --gray:#b9b9b9;  
  --red:rgb(255, 30, 30);
  font-size: .9rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: var(--white);
  color: rgb(0, 0, 0);
  margin: 0;    
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0.6px;
}

button {  
  text-transform: uppercase;
  cursor: pointer;
  color: var(--white);
  background-color: var(--black);  
  outline: none;
  letter-spacing: 2px;  
  transition: opacity .25s;
}

button:hover {
  opacity: 0.8;
}