.nav {
  height: 100%;
  width: 320px;
  background: var(--dark);
  position: fixed;
  bottom: 0;
  right: 0;  
  text-align: left;
  box-shadow: 0 0 3em rgba(0,0,0,.15);
  transform: translateX(100%);
  transition: transform 300ms cubic-bezier(.5, 0, .5, 1);
  z-index: 999;
}

.nav .sidebar-content {
  width: 100%;
  height: 100%;
  position: relative;  
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

label {
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav__toggle {
  position: absolute;
  bottom: 1em;
  left: 0;
  background-color: var(--dark);
  color: var(--white);
  transform: translateX(-100%);
  padding: 1em .5em;
  border: 0;
  border-radius: .25em 0 0 .25em;
}

.nav__toggle:hover {background-color: var(--white);}

.sidebar-content li {
  cursor: initial;
  font-size: 14px; text-transform: uppercase !important; letter-spacing: 1px;}
.sidebar-content li:hover {opacity: 1 !important;}

/* Navigation open styles */
.nav-open {
  transform: translateX(0);
}

@media screen and (max-width: 600px) {
  .nav {
    width: 90%;
  }
}