.ytp-ad-skip-button-slot,
.ytp-ad-skip-button-container,
.ytp-ad-skip-button {
  display: block !important;
}

#onboarding-splash,
#content-for-adblock,
#newsletter-floating,
#page-body,
#player-ads,
#show-ad,
#masthead-ad,
#google-top-ads,
#ads_left,
#big-yoodle,
#tgChat {
  display: none !important;
}

.aplvideo,
.otPlaceholder,
.box.chat,
.banner,
.ytp-ad-player-overlay,
.ytp-ad-image-overlay,
.ads,
.boxOverContent--a,
.adsenvelope,
.sponsored_ad,
.pgAdWrapper,
.wall_marked_as_ads,
._ads_block_data_w,
.news_ticker_iframe,
.header-ad{
  display: none !important;
}

ytm-promoted-video-renderer,
ytm-companion-slot,
ytm-companion-ad-renderer,
ytd-compact-promoted-video-renderer,
ytd-display-ad-renderer,
ytd-ad-slot-renderer,
ytd-carousel-ad-renderer,
ytd-promoted-video-renderer,
ytd-movie-offer-module-renderer,
ytd-promoted-sparkles-web-renderer,
ytd-promoted-sparkles-text-search-renderer,
ytd-player-legacy-desktop-watch-ads-renderer {
  display: none !important;
  visibility: hidden !important;
}

[id^="ads."],
[aria-label=cookieconsent],
div[aria-label*="Timeline: Explore"],
aside[aria-label*="Who to follow"],
div[aria-label*="Timeline: Trending now"],
iframe[id^=ad_],
div[class*="-ad-v"],
div[class*="ads"],
div[class*="-ads-"],
a[href*="/adwords/"],
a[href*="doubleclick.net"],
iframe[src*="doubleclick.net"],
a[href^="http://www.youtube.com/cthru?"],
a[href^="https://www.youtube.com/cthru?"],
a[onclick*='"ping_url":"http://www.google.com/aclk?'],
a[onclick*="\"ping_url\":\"http://www.google.com/aclk?"] {
  display: none !important;
  visibility: hidden !important;
}